* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

body {
    background-color: #ADD8E6;
    font-family: 'Nerko One', cursive;
}

.container {
    width: 60%;
    margin: 0 auto;
}

header {
    color: white;
    text-align: center;
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 25px;
    text-shadow: 2px 2px 2px #7A9198;
}

.row {
    margin: 20px 0;
}

.card {
    height: 245px;
    width: calc(calc(100% / 4) - 24px);
    float: left;
    margin: 0 12px;
    box-shadow: 2px 2px 5px #839EA8;
    position: relative;
    cursor: pointer;
}

.card > * {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.card .back {
    background-image: url('../img/pattern.png');
    background-size: contain;
    position: absolute;
    z-index: 2;
}

.front {
    background-color: white;
    position: relative;
    padding-top: 20px;
    text-align: center;
    z-index: 1;
}

.front > img {
    height: 70%;
}

.front > .name {
    font-size: 35px;
}

.balloon .name {
    color: #E71484;
}

.bicycle .name {
    color: purple;
}

.boat .name {
    color: yellow;
}

.submarine .name {
    color: green;
}

.tram .name {
    color: red;
}

.tractor .name {
    color: #E67919;
}

.balloon.first .back {
    visibility: hidden;
}

.card:hover > .back {
    visibility: hidden;
}

footer {
    text-align: center;
    margin: 25px 0;
}